@import "tailwindcss";

@theme {
  --font-poppins: var(--font-poppins);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.block-line-wrapper {
  position: relative;
  width: max-content;
  display: block;
}

.block-line {
  position: relative;
  display: block;
}

.block-revealer {
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 101%;
  pointer-events: none;
  will-change: transform;
  z-index: 1;
}