@import "tailwindcss";

@theme {
  --font-poppins: var(--font-poppins);
}

:root {
  --background: #ffffff;
  --color-background: var(--background);
}

html, body {
  color: var(--foreground);
  overflow-x: hidden;
  width: 100%;
}

body::after {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw; 
  height: 100vh;
  background-color: #8ec5ff;
  z-index: 9999;
  
  transform: translateY(-100%);
  animation: wipe-out-up 500ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
  pointer-events: none;
}

body.page-transition::after {
  animation: wipe-in-up 500ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
  pointer-events: all;
}

@keyframes wipe-in-up {
  from { transform: translateY(100%); }
  to { transform: translateY(0%); }
}

@keyframes wipe-out-up {
  from { transform: translateY(0%); }
  to { transform: translateY(-100%); }
}

/* .page-transition {
  opacity: 0;
  transform: translateY(10px);
  filter: blur(12px);
} */

/* .block-line-wrapper {
  position: relative;
  width: max-content;
  display: block;
}

.block-line {
  position: relative;
  display: block;
}

.block-revealer {
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 101%;
  pointer-events: none;
  will-change: transform;
  z-index: 1;
} */

.line {
  transform: translateY(100%);
  will-change: transform;
}